{extend name="public/base" /}
{block name="body"}
    <div class="col-md-8">
        <div class="page-header">
           <h2>{$cateName}</h2>
        </div>
        {volist name="articleList" id="vo" empty="$empty"}
        <div>
            <img src="__UPLOADS__/{$vo.title_img}" class="img-rounded" style="margin-right: 40px;float: left;width: 40px;height: 40px" >
            <div style="float: left;width: 80%">
                <h4><a href="{:url('index/detail',['artId'=>$vo.id]);}">标题:{$vo.title}</a> </h4>
                <p>发布者: {$vo.user_id|getUserName}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,发布时间:{$vo.create_time|date='Y-m-d'}</p>
               <p>阅读量:{$vo.pv}</p>
                <div>文章内容{$vo.content|getArtContent}</div>
            </div>
        </div>
        {/volist}
        <div class="text-center">{$articleList|raw}</div>



    </div>
{/block}
